<div class="container">
  <h1>Stupit Coaching</h1> 
  <p>Ask you Coach anything</p>  
  <form action="answer" method="get">
  <div class="mb-3 d-flex">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>  
</form> 
</div> 
